<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="AccountWinForm.Properties.Settings.StructProgramConnectionString" connectionString="data source=C:|DataDirectory|\App_Data\FromAccount.db" providerName="System.Data.SQLite" />
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Bluz2019.WebUI-20190625015321.mdf;Initial Catalog=aspnet-Bluz2019.WebUI-20190625015321;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="AccountContextAccess" connectionString="Data Source=|DataDirectory|\App_Data\FromAccount.mdb;User Id=admin;Password=;" providerName="Microsoft.Jet.OLEDB.4.0" />
    <!--<add name="ShopContextAccess" connectionString="Data Source=|DataDirectory|\ShopIn.mdb;User Id=admin;Password=;" providerName="Microsoft.Jet.OLEDB.4.0" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.11.121" newVersion="1.1.11.121" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>